<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>DaBurger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger-clicks.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/0270abbd8e.js" crossorigin="anonymous"></script>
	</head>
	<body class= "base">
		{{{ body }}}
	</body>
</html>