<div class="top">
<span>
<i class="fas fa-hamburger fa-8x"></i>
</span>
</div>

<div class="headers">
  <h2>These burgers are ready to be eaten:</h2>

  <h2>You ate the Burger!</h2>
</div>

<div class="main">
<ul>
  {{#each burgers}}
  {{!-- unless means 'not' --}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<div class="form-sheet">
<h2>Add a Burger</h2>
</div>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button type="submit">Add a Burger</button>
</form>